.product {
    background: #fff;
    padding: 20px;
     border-radius: 12px;
    position: relative;
    border-radius: 8px;
    box-shadow: rgb(3 0 71 / 9%) 0px 1px 3px;
    margin: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.product:hover {
    box-shadow: rgb(3 0 71 / 20%) 0px 5px 15px;
    transform: translateY(-5px);
}

.product img {
    width: 100%;
    height: 200px !important;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product img:hover {
    transform: scale(1.05);
}



.product h3 {
    margin: 10px 0;
    font-weight: 500;
    font-size: 17px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.product h3:hover {
    color: #0f3460;
}

.product .rate i {
    font-size: 15px;
    color: #ffcd4e;
    margin: 5px 5px 5px 0;
}

.product .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin-top: 20px;
}

.price h4 {
    margin: 0;
}

button.add {
    background: linear-gradient(45deg, #007bff, #0056b3);
    color: #fff;
    font-size: 12px;
    padding: 8px 10px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    font-weight: bold;
    
}

button.add:hover {
    background-color: #1c92d2;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    transform: translateY(-3px);
}

.product-like {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    opacity: 0;
    transition: 0.5s;
}

.product-like label {
    background-color: #0f3460;
    padding: 1px 10px;
    font-size: 12px;
    color: white;
    border-radius: 50px;
}

.product-like ion-icon {
    font-size: 20px;
    margin: 10px 3px;
    cursor: pointer;
}

.product:hover .product-like {
    opacity: 1;
}

.discount {
  position: absolute;
  top: 10px;
  right: 10px;  /* 👈 This keeps it at the right corner */
  background: red;
  color: #fff;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.85rem;
}
